<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label @sample.id? ? true : false %><br>
    <%= f.text_field :sampleId, readonly: @sample.id ? true : false %>
  </div>
  <div class="field">
    <%= f.label :tradename %><br>
    <%= f.text_field :tradename %>
  </div>
  <div class="field">
    <%= f.label :batch %><br>
    <%= f.text_field :batch %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.collection_select(:parent_id, Sample.all, :id , :tradename_and_batch, { :prompt => 'select parent sample', :selected => @sample.parent},
        { class: 'form-control' }) %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :materialClass %><br>
    <%= f.collection_select(:materialClass_id, MaterialClass.all, :id , :name, { :prompt => 'select a material class', :selected => @sample.materialClass},
        { class: 'form-control' }) %>
  </div>
  <div class="field">
    <%= f.label :primaryProject %><br>
    <%= f.collection_select(:primaryProject_id, Project.all, :id , :name_and_code, { :prompt => 'select a project', :selected => @sample.primaryProject_id},
        { class: 'form-control' }) %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :provider %><br>
    <%= f.text_field :provider %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
