<p id="notice"><%= notice %></p>

<h1>Listing Samples</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Tradeame</th>
      <th>Batch</th>
      <th>Provider</th>
      <th>Parent</th>
      <th>Origin</th>
      <th>Material Class</th>
      <%if current_user && current_user.is_goodyear? %>
        <th>Comment</th>
      <% end %>

      <th>primary Project</th>
      <th>supplementary Projects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.sampleId %></td>
        <td><%= sample.tradename %></td>
        <td><%= sample.batch %></td>
        <td><%= sample.provider %></td>
        <td><%= sample.parent_id ? sample.parent.tradename_and_batch : '' %></td>
        <td><%= sample.origin %></td>
        <td><%= sample.materialClass ? sample.materialClass.name : '! material class lacking !' %></td>
        <%if current_user && current_user.is_goodyear? %>
          <td><%= sample.comment %></td>
        <%end%>
        <td><%= sample.primaryProject.name %></td>
        <td><%= sample.projects ? sample.projects.each {|proj| proj.name} : '! no project defined !' %></td>
        <td><%= link_to 'Show', sample %></td>
        <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
        <td><%= link_to 'Destroy', sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample', new_sample_path %>
