<p id="notice"><%= notice %></p>

<p>
  <strong>Sample Id:</strong>
  <%= @sample.sampleId %>
</p>

<p>
  <strong>Tradename:</strong>
  <%= @sample.tradename %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @sample.batch %>
</p>

<p>
  <strong>parent:</strong>
  <%= @sample.tradename_and_batch %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @sample.origin %>
</p>

<p>
  <strong>Material Class:</strong>
  <%= @sample.materialClass ? @sample.materialClass.name : '! Error : no material class defined !' %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @sample.comment %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @sample.provider %>
</p>

<p>
  <strong>primary Project:</strong>
  <%= @sample.primaryProject ? @sample.primaryProject.name_and_code : '! no project defined !' %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Versions', versions_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
