<p id="notice"><%= notice %></p>

<h1>Versions for Sample <%= Sample.find(params[:id]).sampleId %></h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
 <!--     <th>Object</th>
      <th>Id</th> -->
      <th>event</th>
      <th>User</th>
      <th>changes</th>
      <th>when</th>
    </tr>
  </thead>

  <tbody>
    <% Sample.find(params[:id]).versions.each do |version| %>
      
      <tr>
<!--        <td><%= version.item_type %></td>
        <td><%= version.item_id %></td>
-->        <td><%= version.event %></td>
        <td><%= User.find(version.whodunnit).email %></td>
        <td><%= version.changeset %></td>
        <td><%= version.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample', new_sample_path %>
<%= link_to 'Back', samples_path %>