<table><tr><% if user_signed_in? %>
  <td>Welcome <%= current_user.email %></td>
  <td><%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %></td>
<% else %>
  <td>You are not signed in.</td>
  <td><%= link_to 'Login', new_user_session_path %></td>
<% end %>
</tr>
</table>