<!DOCTYPE html>
<html>
<head>
  <p class="notice"><%= notice %></p>
  <title>Ligy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <%= render 'layouts/header' %>
<div class="container-fluid">   
  <div class="row-fluid">
    <div class="span12 offset0">
      <%= yield %>
    </div>
  </div>
</div>
<%# render 'layouts/user_widget' %>
</body>
</html>
